*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.contenedor{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(10,1fr);
}

.imagen{
    display: block;
    justify-content: center;
    width: 1fr;
    height: auto;
    border-radius: 5%;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span;
}

img{
    display: block;
    max-width: 220px;
    height: auto;
}